<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Супермаркет - {{ title }}</title>
</head>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<body>

<a href="{{ url_for('get_suppliers') }}">Поставщики</a>
<a href="{{ url_for('add_class_product') }}">Добавить класс продуктов</a>
<a href="{{ url_for('get_class_products') }}">Список классов продуктов</a>
<a href="{{ url_for('add_class_product') }}">Добавить класс продуктов</a>
<a href="{{ url_for('add_name_product') }}">Добавить наименование продуктов</a>
<a href="{{ url_for('get_names_products') }}">Список наименований продуктов</a>



{% block content %}
{% endblock content %}

<script type="text/javascript" src="{{ url_for('static', filename= 'js/scripts.js') }}"></script>
</body>
</html>