{% extends "base.html" %}

{% block content %}
<h1>{{ title }}</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.id_classp.label }}<br>
        {{ form.id_classp }}<br>
        {% for error in form.id_classp.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.name.label }}<br>
        {{ form.name(size=32) }}<br>
        {% for error in form.name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.description.label }}<br>
        {{ form.description(size=32) }}<br>
        {% for error in form.description.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.price_buy.label }}<br>
        {{ form.price_buy(size=32) }}<br>
        {% for error in form.price_buy.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.price_sell.label }}<br>
        {{ form.price_sell }}<br>
        {% for error in form.price_sell.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.number.label }}<br>
        {{ form.number }}<br>
        {% for error in form.number.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.id_measure.label }}<br>
        {{ form.id_measure }}<br>
        {% for error in form.id_measure.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>

<button
        onclick="location.href='/delete_product/'+{{product_id}}" type="button">Удалить продукт
</button>
<button
        onclick="location.href='{{ url_for('get_products')}}'" type="button">К списку продуктов
</button>
<button
        onclick="location.href='{{ url_for('index')}}'" type="button">На главную
</button>
{% endblock %}